* {
    font-family: "Arial";
}

        .grid {
            display: grid;
            gap: 20px 40px;
            grid-template-columns: auto auto auto;
            padding: 20px;
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: dodgerblue;
        }
        /* CSS Container */
        .grid>div {
            background-color: #f1f1f1;
            border: 1px solid black;
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }

canvas {
    border: 1px solid black;
    margin: 10px;
}

img {
    max-width: 100px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    /* separación entre celdas */
    padding: 10px;
    width: max-content;
    border: 1px solid black;
    position: relative;
}

/* Estilo base para las imágenes */
div {
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: absolute;
    /* para poder moverlas con top/left */
}