body {
    font-family: 'Arial';
    margin: auto;
    background-color: rgb(251, 243, 243);
}

header {
    text-align: center;
    align-items: center;
    padding: 0.3rem;
    background-color: rgb(74, 183, 255);
    margin-bottom: 3rem;
}

#formulario-inventario {
    display: grid;
    grid-column: 3;
    margin: 4rem;
    gap: 0.8rem;
    justify-content: baseline;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #000000;
    margin: 4rem;
    padding: 40px;
    border-radius: 5rem;
    width: 50%;
}

label {
    grid-column-start: 1;
}

input[type="text"],
input[type="number"],
select {
    grid-column-start: 2;
    padding: 0.3rem;
    width: 70%;
}

/* Botón Submit */
#Submit {
    grid-column-start: 2;
    color: white;
    width: 80%;
    height: 40%;
    background-color: #0404f0;
    border-style: none;
    font-weight: bold;
    border-radius: 0.8rem;
    padding: 1.3rem;
    text-align: center;
    align-items: center;
}

#Submit:hover {
    cursor: pointer;
    color: white;
    background-color: #000098;
}



/* Pie de Página */
footer {
    visibility: hidden;
    padding: 2rem;
    align-items: left;
    background-color: rgb(74, 183, 255);
    font-weight: bolder;
    color: white
}

footer #socialmedia a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: 0.2s #fff;
    padding: 0.3rem;
    width: 20%;
}

footer #socialmedia a:hover {
    box-shadow: 4px 4px #fc2525;
    text-shadow: 5px;
    background-color: #fc2525;
    transform: perspective();
    transition: 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

#lista-productos {
    flex-wrap: wrap;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    gap: 4rem;
    padding: 3rem;
}

#producto-individual .prd{
    color: red;
}
#producto-individual {
    background-color: rgb(243, 137, 137);
    gap: 2rem;
    border: 0.2rem solid black;
}

