/* TABLA DE DATOS */
table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Arial";
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* HIPERENLACES */
a {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 4px;
  width: 100%;
}
/* Estilos para el body */
body {
  margin: 10px 20px 10px 20px;
  /* Relleno para top, right, bottom, left */
}

/* Estilos para el main */
main {
  margin: 20px;
  /* Margen uniforme alrededor del main */
  padding: 15px;
  /* Relleno interno dentro del main */
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra para dar profundidad */
}
