
        body {
            font-family: 'Cambria';
            font-size: 1.5rem;
            width: 100%;
        }

        form {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: rgb(237, 237, 255);
            border-radius: 2.1rem;
        }

        #submit:hover {
            background-color: rgb(147, 147, 255)
        }

        #submit {
            background-color: blue;
            color: black;
            grid-column-start: 3;
            margin: 1.3rem;
            width: 80%;
            padding: 2%;
            border: none;
            border-radius: 0.3rem;
            cursor: pointer;
        }

        label {
            background-color: transparent;
            font-size: 1.2rem;
        }

        #inf-text {
            font-size: 1.3rem;
            width: 30%;
            margin: auto;
            display: block;
            font-style: italic;
            grid-column-start: 0;
            justify-content: center;
            font-family: 'Calibri';
            border: 1.3rem solid rgb(255, 255, 255);
        }

        input {
            padding: 2%;
            border: none;
            border-radius: 2.3rem;
        }