* {
    font-family: "Arial";
}
/* FORMULARIO DE INTRODUCCIÓN DE LOS DATOS */
form {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    box-shadow: 3px 3px 3px 3px #ffffff;
    border-radius: 2%;
    width: 70%;
    margin: 2px;
    padding: 3px;
}
label {
    padding: 15px;
    width: 40%;
    font-weight: bold;
}
input {
    padding: 10px;
    border-radius: 2%;
    width: 40%;
    max-width: 50%;
}

#Submit {
    margin: 6px 0px;
    padding: 20px;
    color: white;
    border-style: none;
    background-color: rgb(0, 106, 255);
}