body {
    font-family: "Arial";
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    box-shadow: 3px 3px 3px 3px #ccc;
    border-radius: 2%;
    width: 70%;
    margin: 2px;
    padding: 3px;
    
}

label {
    padding: 15px;
    width: 40%;
    font-weight: bold;
}

input {
    padding: 10px;
    border-radius: 2%;
    width: 40%;
    max-width: 50%;
    border-color: #b9b8b8;
    border-style: 2px;
}

#Submit {
    margin: 6px 0px;
    padding: 20px;
    color: white;
    border-style: none;
    background-color: rgb(0, 106, 255);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 4px;
    width: 100%;
}
