* {
    font-family: 'Comic Sans MS';
}
body {
    margin: 0.3rem;
    font-family: 'Comic Sans MS';
}

header {
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
}

form {
    display: grid;
    grid-column: 4;
    grid-row: 4;
    border: 3px solid black;
    padding: 4rem;
    margin: 4rem;
    gap: 0.8rem;
    margin: 4rem;
    border-radius: 0.3rem;
    width: 70%;
    background-color: rgb(214, 214, 214);
}

input {

    gap: 2rem;
}

input #nombre {
    grid-column-start: 1;
    grid-row-start: 1;

}

input #velocidad {
    grid-column-start: 1;
    grid-row-start: 2;
}

select #tipo {
    grid-column-start: 2;
    grid-row-start: 1;
}

#registraTren {
    grid-column-start: 2;
    grid-row-start: 2;
    color: white;
    height: 40%;
    background-color: red;
    border-style: none;
    font-weight: bold;
    border-radius: 0.8rem;
    padding: 1.3rem;
    text-align: center;
    align-items: center;
}

label {
    grid-column-start: 1;
}

input[type="text"],
input[type="number"],
select {
    grid-column-start: 2;
    padding: 0.3rem;
    width: 70%;
}

#registraTren:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}


#listadoTrenes {
    flex-wrap: wrap;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 0.3rem;
    gap: 4rem;
    padding: 3rem;
}

#producto-individual .prd {
    color: red;
}

#div {
    border: 0.2rem solid black;
    background-color: rgb(243, 137, 137);
    gap: 2rem;
    border: 0.2rem solid black;
}

button {
    font-weight: bolder;
    color: black;
    background-color: #ff8686;
    padding: 0.4rem;
    border-style: none;
    border-radius: 0.3rem;
}

button:hover {
    transition: 0.3s;
    background-color: #fc6262;
    cursor: pointer;
}

#idTrenes {
    border: 3px solid red;
}

#seleccionarTrenes {
    margin: 2rem;
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 0.3rem;
    gap: 4rem;
    padding: 3rem;
}