* {
    font-family: 'Arial';
}

body {
    margin: auto;
}
header {
    padding: 30px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: white;
}
nav ul.menu .nombre {
    align-items: left;
    color: white;
}
nav {
    background-color: #60F;
    margin: 0;
    height: 70px;
}

nav ul.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    background-color: #60F;
    padding: 25px;
    align-content: right;
    justify-content: right;
}

ul.menu .nav-item {
    align-items: right;
    align-content: right;
}

.menu .nav-item a:hover {
    color: #bdc3c7;
}
.menu .nav-item a {
    text-decoration: none;
    color: white;
}

#verservicios {
    font-weight: bold;
    padding: 20px;
    background-color: #60F;
    border-radius: 6px;
    border-style: none;
    color: white;
}
#verservicios:hover {
    cursor: pointer;
}
main {
    background-color: #333;
    display: flex;
    flex-direction: column;
}
#Servicios {
    border-radius: 2%;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 2rem;
    color: #60F;
    /* Margin */
    margin-top: 0;
    margin-right: 5px;
    margin-left: 5px;
}

#articles {
    border-radius: 2%;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;



    /* Margin */
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 6px;
}

#articles #service {
    border-radius: 4%;
    border-color: black;
    /* Provicional */
    flex-basis: 80%;
    margin: 0 auto;
    transition: transform 0.3s;
    background-color: #6DF;
    padding: 0.5rem;
    margin-bottom: 3rem;

}

#service:hover {
    transform: scale(1.06);
}




/* Table */
#Datos {
    background-color: white;
    font-size: medium;
    border: none;
    align-items: center;
    text-align: center;
    border-radius: 2%;


    /* Margin */
    margin-right: 2px;
    margin-left: 6px;
    margin-bottom: 5px;
}

#Datos table {
    font-size: medium;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-top: 3px;
    padding: 20px;
    outline: none;
    margin-bottom: 40px;
    gap: 0;
}

#Datos table tr th {
    margin: auto;
    justify-content: center;
    color: white;
    padding: 10px 10px;
    background-color: #60F;
}


#encabezado {
    padding: 20px;
}
#primeraColumna {
    width: 40%;
}
td:hover {
    background-color: #6DF;
}
tr:hover {
    background-color: #6DF;
}
tr, td {
    padding: 20px;
    text-align: left;
}
#ultimaFila {
    background-color: #bdc3c7;
}
tr:nth-child(even) {
    background-color: white;
}

/*
#line {
    padding: 10px;
    background-color: #444;
}
*/
.form {
    background-color: white;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;


    /* Margin */
    margin-right: 6px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.form h1 {
    margin-top: 15px;
    margin-bottom: 16px;
    font-weight: bold;
    color: #60F;
}
form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    background-color: #6DF;
    margin: 0 auto;
    border-radius: 3%;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: medium;
}
form label {
    margin-bottom: 3px;
    margin-top: 3px;
}
form input[type="submit"] {
    background-color: #60F;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 6%;
    width: 60%;
    border-style: none;
}
input[type="submit"]:hover {
    cursor: pointer;
} 
form input {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 3px;
    margin-top: 3px;
}
footer {
    background-color: #444;
    max-width: 100%;
    width: 100%;
    height: 130px;
    overflow: hidden;
}


footer div {
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
}