* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto 10px;
}

form {
    display: grid;
    grid-column: 3;
    grid-row: 3;
    padding: 30px;
    border-radius: 4px;
    background-color: #d6d6d6;
    padding-bottom: 1rem;
    border-bottom: grey;
}

main {
    display: flex;
    justify-content: center;
}

.labelImporte {
    grid-column-start: 1;
    grid-row-start: 1;
}

.inputImporte {
    display: block;
    grid-column-start: 1;
    grid-row-start: 2;
}

.labelFrom {
    grid-column-start: 2;
    grid-row-start: 1;

}

.labelTo {
    grid-column-start: 3;
    grid-row-start: 1;
}

.inputSubmit {
    grid-row-start: 3;
    grid-column-start: 3;
}

input[type=number] {
    width: 14%;
    padding: 15%;
    border-radius: 1rem;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}